<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ankus_signup</title>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Favicon PC / Mobile-->
    <!-- <link rel="shorcut icon" href="/common/images/fav_32.jpg"> -->
    <link rel="shorcut icon" href="/common/images/favicon/fav_180.png">
    <!-- CSS -->
    <link rel="stylesheet" href="/common/css/reset.css">
    <link rel="stylesheet" href="/common/css/font.css">

    <!-- 프로젝트 페이지 CSS -->
    <link rel="stylesheet" href="/login/css/signup.css">

    <!-- 프로젝트 페이지 SCRIPT -->

    <!-- HTML5 JS File -->
    <script src="/common/js/html5shiv.js"></script>
    <script src="/common/js/respond.src.js"></script>
    <!-- JQ PlugIn -->
    <script src="/common/js/jquery-3.4.1.min.js"></script>
    <!-- PreFix Free -->
    <script src="/common/js/prefixfree.min.js"></script>
</head>

<body>
<div id="wrap">
    <!-- Modal -->
    <div class="complete_modal_bg">
        <div class="complete_modal">
            <h3 class="complete_txt">회원가입이 완료되었습니다!</h3>
            <h3 class="complete_txt2">관리자 승인 후 서비스를 이용하실 수 있습니다.</h3>
            <img src="/common/images/signup/ex.svg" alt="엑스">
           <button onclick="location.href ='/'">로그인 화면으로</button>
        </div>
    </div>
    <!-- /Modal -->
    <header class="cf">
        <div class="left">
            <p>Sign up</p>
            <img src="/common/images/login/login_bg.svg" alt="배경">
        </div>
        <div class="right">
            <p class="logo"><img src="/common/images/signup/logo.svg" alt="로고"></p>
            <ul class="input_box">
                <li>
                    <input type="text" name="name" class="input_name" maxlength="20" placeholder="이름" required>
                </li>
                <p class="name_txt" id="check_name"></p>
                <li>
                    <input type="text" name="id" class="input_id" maxlength="20" placeholder="아이디">
                </li>
                <p class="id_txt" id="check_id"></p>
                <li>
                    <input type="password" name="pw" class="input_pw" maxlength="20" placeholder="비밀번호">
                    <img src="/common/images/signup/pw.svg" alt="비밀번호 확인">
                </li>
                <p class="pw_txt" id="check_pw"></p>
                <li>
                    <input type="password" name="pw" class="input_pw2" maxlength="20" placeholder="비밀번호 재확인">
                    <img src="/common/images/signup/pw_check.svg" alt="비밀번호 재확인">
                </li>
                <p class="pw_txt2" id="check_pw2"></p>
            </ul>
            <button class="signup_btn">가입하기</button>
            <p class="login_back">이미 가입한 회원이신가요? <a href="/">로그인 하기</a></p>
        </div>
    </header>
</div>
<script src="/login/js/signup.js"></script>
</body>

</html>